// scss variables
$bg-color-1 : #222831;
$bg-color-2: #393E46;
$bg-color-3: #00ADB5;
$bg-color-4: #EEEEEE;

$font-1: 'Times New Roman', Times, serif;
$font-size: 1.2rem;

body {
  background-color: $bg-color-1;
  color: $bg-color-4;
  margin: 0;
  font-family: $font-1;
  font-size: $font-size;
  text-align: center;
}

.davv-logo {
  width: 60px;
  margin: 0 20px;
  // height: 40px;
}

.login-btn {
  margin-left: 10px;
}

// ------------------------------- Navbar -------------------------
.navbar {
  // position: fixed;
  // top: 0;
}

.navbar-home {
  text-decoration: underline white 2px;
}

.navbar-menu {
  padding-right:20px;
}

.nav-item {
  padding-right: 15px;
}

// ------------------------------- Login page -------------------------
.login-form {
  max-width: 350px;
  margin: auto;
}

.login-container {
  // background-color: $bg-color-3;
  text-align: center;
  margin: 100px auto;
  width: 60%;
}

.login-heading {
  font-size: 3rem;
}

.login-input-email {
  margin-top: 20px;
}

.login-input-password {
  margin-top: 20px;
}

.login-submit-btn {
  margin-top: 20px;
}

// ------------------------------- Footer page -------------------------
.footer-main-div {
  background-color: $bg-color-2;
  padding-bottom: 20px;
}

.to-center {
  // margin: auto;
}

.footer-container {
padding: 20px 10px;
color: $bg-color-4;
margin: auto;
width: 80%;
}

.footer-sub-container {

}

.davv-logo-container {
  padding: 20px;
  text-align: center;
}

.footer-davv-logo {
  height: 150px;
  width: 150px;
}

.footer-list-item {
  list-style-type: none;
  margin-top: 5px;
}

.footer-a-tag {
  text-decoration: none;
  color: $bg-color-4;
}

.footer-a-tag:hover {
  color: $bg-color-3;
}

.footer-brand-icon {
  text-decoration: none;
  margin: 10px;
  color: $bg-color-4;
}

// ------------------------------- Event page ------------------------------



// ------------------------------- Core components -------------------------
// ------------------------------- BasicTile -------------------------

.tile-image {
  width: 100%;
  border-radius: 5%;

}

.tile-main-div{
  margin: 5%;
  padding: 0;
}

.tile-content {
  padding: 5%;
}

.tile-heading {
  margin: 10px 0;
  text-align: center;
  font-size: 4rem;
}

.tile-description {
  margin: 10px 0;
  font-size: 1.2rem;
  text-align: center;
  font-size: 1.5rem;
}

.tile-link {
  margin: 40px 0;
  text-align: left;
}

.tile-sub {
  margin: auto 0;
}

// ------------------------------- CarouselTile -------------------------

.carousel-main-div {
  margin: 40px auto;
  padding: 20px auto;
  max-width: 60%;
  min-width: 300px;
}

.carousel-inner {
  margin: 0 auto;
}

// ------------------------------- Content separator ruler -------------------------
.content-sep-ruler {
    width: 200px;
    border: solid 3px white;
    // border-width: 3px;
    // border-color: white;
    // border-top-style: dotted;
    margin: 50px auto 50px auto;
    max-width: 20%;
    // max-width: 200px;

    /// test ///
    
}